/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  // background pink
  transform translateX(-120%)
  transition 0.5s
  max-height 0
  &.order-enter-active
    // background orange
    transform translateX(0)
    max-height 60px

.order-exit
  // background lightblue
  transform translateX(0)
  transition 0.5s
  &.order-exit-active
    // background lightgreen
    transform translateX(120%)

.count-enter
  // background green
  transform translateY(100%)
  transition 0.5s
  &.count-enter-active
    // background lightgreen
    transform translateY(0)

.count-exit
  // Overlap the last count number
  position absolute
  left 0
  bottom 0
  // background blue
  transform translateY(0)
  transition 0.5s
  &.count-exit-active
    // background red
    transform translateY(-100%)
